replicaCount: 1
image:
  repository: hoizz/fastapi-custom
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

podSecurityContext:
  runAsUser: 2001
  runAsGroup: 2001
  fsGroup: 2001
  fsGroupChangePolicy: OnRootMismatch

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  startupProbe:
    httpGet:
      path: /health
      port: 8000
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 30

  readinessProbe:
    httpGet:
      path: /health
      port: 8000
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 3
    successThreshold: 1

  livenessProbe:
    httpGet:
      path: /health
      port: 8000
    initialDelaySeconds: 15
    periodSeconds: 10
    failureThreshold: 5

metrics:
  enabled: true
  path: /metrics
  interval: 15s
  scrapeTimeout: 10s
