deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  ingester:
    wal:
      enabled: true

  limits_config:
    retention_period: 168h

singleBinary:
  replicas: 1

persistence:
  enabled: true
  size: 10Gi
