architecture: standalone

image:
  registry: docker.io
  repository: bitnami/redis
  tag: 7.2.5-debian-12-r4

auth:
  enabled: false

master:
  persistence:
    enabled: false

replica:
  replicaCount: 0
