extends: default

ignore: |
  charts/**/templates/**
  charts/**/charts/**
  envs/**/sealed-secrets/**
  bootstrap/notifications/secret-sealed.yaml
  # (선택) 워크플로 전체를 린트 제외하고 싶다면 아래도 추가:
  # .github/workflows/**

rules:
  braces: disable
  line-length: disable
  document-start: disable
  truthy: disable                # ← 여기! 경고 자체를 끔
  comments-indentation: disable
  trailing-spaces:
    level: error
  colons:
    max-spaces-after: 1
