extends: default

ignore: |
  envs/**/sealed-secrets/**
  bootstrap/notifications/secret-sealed.yaml
  charts/**/charts/**            # vendor된 tgz 내부(혹시 풀려있다면) 무시
  **/*.tpl                       # 템플릿 파일은 스타일 제외(원하면 유지)

rules:
  line-length: disable           # base64/주석 길이 등 허용
  document-start: disable        # --- 강제하지 않음
  truthy:
    level: warning               # 'yes/no/on/off' 경고로만
  comments-indentation: disable  # 코멘트 들여쓰기 관대하게
  indentation:
    indent-sequences: whatever   # 시퀀스 들여쓰기 유연하게
