deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    enabled: false
  extraArgs:
    - -validation.allow-structured-metadata=false

simpleScalable:
  replicas:
    backend: 0
    read: 0
    write: 0

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

loki:
  auth_enabled: false

  storage:
    type: filesystem
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin

  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki

  schemaConfig:
    configs:
      - from: 2024-01-01
        store: boltdb-shipper
        object_store: filesystem
        schema: v12
        index:
          prefix: loki_index_
          period: 24h

  storageConfig:
    boltdb_shipper:
      active_index_directory: /var/loki/index
      cache_location: /var/loki/cache
      shared_store: filesystem
    filesystem:
      directory: /var/loki/chunks

  compactor:
    working_directory: /var/loki/compactor
    shared_store: filesystem

  memberlist:
    join_members: []

chunksCache:
  enabled: false
resultsCache:
  enabled: false

gateway:
  enabled: true
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: loki-prod.local
        paths:
          - path: /
            pathType: Prefix
    tls: []

