global:
  resolve_timeout: 5m

route:
  receiver: "null"
  group_by: ["alertname", "namespace", "service", "severity"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  routes:
    - receiver: "slack-dev"
      matchers:
        - 'service="triton"'
      continue: false

    - receiver: "slack-dev"
      matchers:
        - 'namespace=~".*-dev|monitoring-dev|kube-system"'
      continue: false

receivers:
  - name: "slack-dev"
    slack_configs:
      - api_url: "<<<REDACTED>>>"
        send_resolved: true
        title: "[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}"
        text: >
          *Namespace:* {{ or .CommonLabels.namespace "N/A" }}
          *Service:* {{ or .CommonLabels.service "N/A" }}
          *Severity:* {{ or .CommonLabels.severity "none" }}
          *Summary:* {{ or .CommonAnnotations.summary "No summary" }}
          *Description:* {{ or .CommonAnnotations.description "No description" }}
          *Start:* {{ (index .Alerts 0).StartsAt }}
          <https://prometheus-dev.local/alerts|View in Prometheus>

  - name: "null"
