{{- range $ing := .Values.ingresses }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $.Release.Name }}-{{ $ing.name }}
  labels:
{{- include "fastapi.commonLabels" $ | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ $ing.whitelist }}"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
{{- if and $ing.tls $ing.tls.enabled $ing.tls.issuerName }}
    cert-manager.io/cluster-issuer: "{{ $ing.tls.issuerName }}"
{{- end }}
spec:
  ingressClassName: {{ $ing.className | default "nginx" }}
  rules:
    - host: {{ $ing.host }}
      http:
        paths:
{{- if $ing.excludeMetrics }}
          - path: /metrics
            pathType: Exact
            backend:
              service:
                name: {{ $.Release.Name }}-service
                port:
                  number: 65535
{{- end }}
{{- range $p := $ing.paths }}
          - path: {{ $p.path }}
            pathType: {{ $p.pathType }}
            backend:
              service:
                name: {{ $.Release.Name }}-service
                port:
                  number: {{ $.Values.service.port }}
{{- end }}
{{- if $ing.tls }}
  tls:
    - hosts:
        - {{ $ing.host }}
      secretName: {{ $ing.tls.secretName }}
{{- end }}
{{- end }}

