image:
  tag: v1.4.1
  pullPolicy: Always
service:
  name: fastapi-dev-service
  port: 80
  type: ClusterIP
ingresses:
  - name: fastapi-local
    host: fastapi.local
    className: nginx
    whitelist: 192.168.18.0/24
    paths:
      - path: /
        pathType: Prefix
    tls:
      enabled: true
      secretName: fastapi-dev-tls
      issuerName: selfsigned-issuer
      createCertificate: true
    excludeMetrics: true
env:
  MLFLOW_TRACKING_URI: "http://mlflow-dev-service.mlflow-dev.svc.cluster.local:5000"
  MODEL_NAME: "best_model"
  DEFAULT_ALIAS: "B"
  ALIAS_SELECTION_MODE: "blue_green"
  CANARY_PERCENT: "20"
  LOG_TO_STDOUT: "true"
  LOG_LEVEL: "info"
  TRITON_HTTP_URL: "http://triton.triton-dev.svc.cluster.local:8000"
  TRITON_MODEL_NAME: "best_model"
envFrom:
  - secretRef:
      name: aws-credentials-secret
  - secretRef:
      name: fastapi-token-dev-secret
  - secretRef:
      name: slack-webhook-dev-secret
monitoring:
  releaseLabel: monitoring-dev
