{{- $create := true -}}
{{- if and .Values.ingress.tls (hasKey .Values.ingress.tls "createCertificate") -}}
{{- $create = .Values.ingress.tls.createCertificate -}}
{{- end -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-service
  labels:
{{ include "mlflow.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /
{{- if and .Values.ingress.tls .Values.ingress.tls.enabled .Values.ingress.tls.issuerName $create }}
    cert-manager.io/cluster-issuer: "{{ .Values.ingress.tls.issuerName }}"
{{- end }}
{{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-service
                port:
                  number: {{ .Values.service.port }}
{{- if and .Values.ingress.tls .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tls.secretName }}
{{- end }}

