config:
  server:
    http_listen_port: 3101
    log_level: info

  positions:
    filename: /run/promtail/positions.yaml

  clients:
    - url: http://loki-dev:3100/loki/api/v1/push

  scrape_configs:
    - job_name: kubernetes-pods
      kubernetes_sd_configs:
        - role: pod
      pipeline_stages:
        - cri: {}
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_node_name]
          target_label: node
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace
        - source_labels: [__meta_kubernetes_pod_name]
          target_label: pod
        - source_labels: [__meta_kubernetes_pod_container_name]
          target_label: container

extraVolumes:
  - name: varlogcontainers
    hostPath:
      path: /var/log/containers
extraVolumeMounts:
  - name: varlogcontainers
    mountPath: /var/log/containers
    readOnly: true
