{{- $r := .Values.redis | default dict -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: {{ (get $r "image" | default "redis:7.2-alpine") }}
          ports:
            - containerPort: 6379
          args:
            - "--appendonly"
            - "{{ ternary "yes" "no" (get $r "persistence" | default false) }}"
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 3
            periodSeconds: 5
