image:
  tag: sha-35a4620

service:
  name: fastapi-prod-service
  port: 80
  type: ClusterIP

ingresses:
  - name: fastapi-prod
    host: fastapi.prod
    className: nginx
    whitelist: 0.0.0.0/0
    paths:
      - path: /
        pathType: Prefix
    tls:
      enabled: true
      secretName: fastapi-prod-tls
      issuerName: selfsigned-issuer
      createCertificate: true
    excludeMetrics: true

env:
  MLFLOW_TRACKING_URI: "http://mlflow-prod-service.mlflow-prod.svc.cluster.local:5000"
  MODEL_NAME: "best_model"
  DEFAULT_ALIAS: "B"
  ALIAS_SELECTION_MODE: "ab_test"
  CANARY_PERCENT: "10"
  LOG_TO_STDOUT: "true"
  LOG_LEVEL: "info"
  TRITON_HTTP_URL: "http://172.26.128.112:8100"
  TRITON_MODEL_NAME: "best_model"

envFrom:
  - secretRef:
      name: aws-credentials-secret
  - secretRef:
      name: fastapi-token-prod-secret
  - secretRef:
      name: slack-webhook-prod-secret

volumeMounts:
  - name: fastapi-logs
    mountPath: /app/logs

volumes:
  - name: fastapi-logs
    persistentVolumeClaim:
      claimName: fastapi-logs-pvc-prod

monitoring:
  releaseLabel: monitoring-prod
