apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: triton
spec:
  selector:
    matchLabels:
      app: triton
  endpoints:
    - port: metrics
      interval: {{ .Values.monitoring.scrapeInterval }}
